# Image 생성 코드 플로우
1. 데이터 생성 위한 그룹 데이터 프레임 만들기
2. 데이터 프레임 주소별로 데이터 만들기 ==> 그룹 레이블로 폴더 따로 만들어서 생성
    - bins = [0, 28, 56, mask_image_df['age'].max()]  max =60
    - 몇개씩 train 할 것인가 =? 320 최대한 적게 생성할거임
    - middle m ==> 40개 incorrect, normal
    - elder m ==> 100개 incorrect, normal
3. 이미지 저장!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
mask_image_df = pd.read_csv('../../input/data/train/train.csv')

In [4]:
mask_image_df.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59

In [6]:
# 데이터 연령 범주 레이블 추가
bins = [0, 28, 56, mask_image_df['age'].max()] 
mask_image_df['age_label'] = pd.cut(mask_image_df['age'], bins, labels=['young','middle','elder'])

In [7]:
mask_image_df.head() # 데이터 확인

       id  gender   race  age                    path age_label
0  000001  female  Asian   45  000001_female_Asian_45    middle
1  000002  female  Asian   52  000002_female_Asian_52    middle
2  000004    male  Asian   54    000004_male_Asian_54    middle
3  000005  female  Asian   58  000005_female_Asian_58     elder
4  000006  female  Asian   59  000006_female_Asian_59     elder

In [8]:
# 중간연령 남성 데이터 리스트
mask1 = (mask_image_df.age_label =='middle') & (mask_image_df.gender=='male')
middle_male = mask_image_df.loc[mask1 ,:].path
middle_male.describe()
middle_male = list(middle_male)

In [9]:
# 상위연령 남성 데이터 리스트
mask2 = (mask_image_df.age_label =='elder') & (mask_image_df.gender=='male')
elder_male = mask_image_df.loc[mask2 ,:].path
elder_male.describe()
elder_male=list(elder_male)

In [10]:
from PIL import Image
import random

In [ ]:
# 이미지 호출 경로, 저장 경로 선언
base_dir ='../input/data/train/images/'
save_dir ='../input/data/train/image_blend/'

In [ ]:
# 함수 선언
# 올바르지 않은 마스크 착용 블렌드
def make_image_incorrect(data1_dir, data2_dir,age_gender,i) :  
    img = Image.blend( Image.open(base_dir + data1_dir +'/incorrect_mask.jpg') ,Image.open(base_dir + data2_dir + '/incorrect_mask.jpg') , 0.5 )
    img.save(save_dir + age_gender +'/incorrect/incorrect_' + str(i) +'.jpg')
    return

# 맨얼굴 이미지 블렌드
def make_image_normal(data1_dir, data2_dir, age_gender ,i) :   
    img = Image.blend( Image.open(base_dir + data1_dir + '/normal.jpg') ,Image.open(base_dir + data2_dir +'/normal.jpg') , 0.5 )
    img.save(save_dir +age_gender +'/normal/normal_'+ str(i) +'.jpg')
    return

In [ ]:
# 상위연령 남성 이미지 블렌드 생성

random.shuffle(elder_male)
for i in range(100):
    make_image_incorrect(elder_male[i], elder_male[210-i],'elder_male', i )
    make_image_normal(elder_male[i], elder_male[2*i],'elder_male', i )

In [ ]:
# 중위연령 남성 이미지 블렌드 생성

random.shuffle(middle_male)
for i in range(50):
    make_image_incorrect(middle_male[i], middle_male[60-i],'middle_male', i )
    make_image_normal(middle_male[i], middle_male[2*i+1], 'middle_male', i )